$bgBlack: #222222;
$bgBlackColor: #b2b2b2;
$navColor: #333333;
$logoColor: #666666;
$buttonBg: #6c7ae0;
$colorWhite: #ffff;
$togglerBg: #717fe0;
$lightGray: #555555;
$btnGray: #e6e6e6;

// media query break point
$lgScreen: 1200px;
