@import "./varibale";
@import "./mixin";

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: $bgBlack;

  .footerBottom {
    .paymentMethod {
      display: flex;
      justify-content: center;

      a {
        img {
          margin-right: 5px;
          margin-left: 5px;
        }
      }
    }

    p {
      margin-top: 15px;
      text-align: center;
      color: $bgBlackColor;
      font-size: 17px;

      span {
        font-size: 20px;
      }

      a {
        color: $buttonBg;
      }
    }
  }
}
