@import "../../core/style/varibale";
@import "../../core/style/mixin";

.tableContent {
    overflow: auto;
    margin-bottom: 30px;

    table {
        border-collapse: collapse;
        margin-bottom: 20px;
        width: 100%;

        tr {
            border: 1px solid $bgBlackColor;
        }
        thead {
            text-transform: uppercase;
            font-weight: 600;
            color: $lightGray;

            td {
                padding: 10px 40px;
            }
        }

        tbody {
            td {
                text-align: center;
                color: $logoColor;
                font-size: 17px;

                .productDesign {
                    display: flex;
                    align-items: center;
                    img {
                        width: 60px;
                        height: 80px;
                        margin-right: 30px;
                    }
                }

                .countingBtn {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button,
                    p {
                        border: 1px solid $bgBlackColor;
                        width: 40px;
                        height: 40px;
                        font-size: 18px;
                        font-weight: 500;
                        background: transparent;
                    }

                    p {
                        background: #f7f7f7;
                        border-left: none;
                        border-right: none;
                        line-height: 36px;
                    }

                    button:hover {
                        background: $buttonBg;
                        color: $colorWhite;
                    }
                }
            }

            td:first-child {
                padding: 30px 0 30px 40px;
            }
            td:last-child {
                padding: 30px 40px 30px 0;
            }
        }

        .couponeCode {
            tr {
                td {
                    input {
                        border-radius: 50px;
                        color: $logoColor;
                        font-size: 16px;
                        padding: 7px 10px;
                        outline: none;
                        border: 1px solid $bgBlackColor;
                        width: 100%;
                    }
                }
            }
        }

        table{
            width: 100%;
            margin-bottom: 0;
        
            tr {
              border: none;
              td {
                text-align: center;
                padding: 0;
        
                button {
                  @include Button(
                    $bg: $btnGray,
                    $color: $navColor,
                    $fontSize: 13px,
                    $padding: 10px 30px
                  );
                  font-weight: 600;
                }
        
                button:hover {
                  color: $colorWhite;
                  background: $buttonBg;
                }
              }
            }
        }
    }
}
