.modalStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalStyle .quickView {
  width: 75vw;
  height: 90vh;
  position: relative;
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modalStyle .quickView .closeBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.modalStyle .quickView .closeBtn button {
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: normal;
  color: #666666;
}

.modalStyle .quickView .photoList {
  width: 7%;
  margin-right: 30px;
}

.modalStyle .quickView .photoList figure {
  margin-bottom: 15px;
}

.modalStyle .quickView .imgView {
  width: 45%;
  margin-right: 30px;
}

.modalStyle .quickView .porductDitels {
  width: 45%;
}

.modalStyle .quickView .porductDitels h2 {
  color: #333333;
  padding-bottom: 15px;
}

.modalStyle .quickView .porductDitels .price {
  font-size: 24px;
  color: #222222;
  padding-bottom: 20px;
}

.modalStyle .quickView .porductDitels .discription {
  font-size: 18px;
  color: #666666;
  padding-bottom: 20px;
}

.modalStyle .quickView .porductDitels .chooseAndOrder {
  width: 60%;
  margin: 0 auto;
}

.modalStyle .quickView .porductDitels .chooseAndOrder label {
  font-size: 20px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.modalStyle .quickView .porductDitels .chooseAndOrder select {
  width: 80%;
  color: #666666;
  padding: 5px 10px;
  margin-bottom: 15px;
  font-size: 16px;
  outline: none;
}

.modalStyle .quickView .porductDitels .chooseAndOrder .quintityBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
}

.modalStyle .quickView .porductDitels .chooseAndOrder .quintityBtn table {
  border: 1px solid #666666;
  border-collapse: collapse;
}

.modalStyle .quickView .porductDitels .chooseAndOrder .quintityBtn table p {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555555;
  background-color: #f7f7f7;
}

.modalStyle .quickView .porductDitels .chooseAndOrder .quintityBtn table button {
  background: transparent;
  width: 100%;
  height: 100%;
  font-size: 18px;
  outline: none;
  border: none;
}

.modalStyle .quickView .porductDitels .chooseAndOrder .quintityBtn table button:hover {
  background: #6c7ae0;
  color: #fff;
}

.modalStyle .quickView .porductDitels .chooseAndOrder .quintityBtn td {
  border: 1px solid #666666;
  border-collapse: collapse;
  width: 30px;
  height: 30px;
}

.modalStyle .quickView .porductDitels .chooseAndOrder .addCartBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
}

.modalStyle .quickView .porductDitels .chooseAndOrder .addCartBtn button {
  padding: 7px 20px;
  border-radius: 50px;
  color: #fff;
  background: #6c7ae0;
  border: none;
  text-transform: uppercase;
  font-size: 17px;
}

.modalStyle .quickView .porductDitels .chooseAndOrder .addCartBtn button:hover {
  background: #222222;
  color: #fff;
}

.modalStyle .quickView .porductDitels .chooseAndOrder .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

.modalStyle .quickView .porductDitels .chooseAndOrder .icon li {
  float: left;
  padding: 0 10px;
  font-size: 20px;
  color: #666666;
}

.modalStyle .quickView .porductDitels .chooseAndOrder .icon li a {
  color: #666666;
}

.modalStyle .quickView .porductDitels .chooseAndOrder .icon li a:hover {
  color: #6c7ae0;
}
/*# sourceMappingURL=addCartModal.module.css.map */